# Rust & Cargo
/target/
/src-tauri/target/
**/*.rs.bk
Cargo.lock

# Tauri
/src-tauri/Cargo.lock

# Node / Web
node_modules/
dist/
.ds_store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment and secrets
.env
.env.*

# IDEs
.vscode/
.idea/
